In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [2]:
# Use Splinter to scrape the 2009-2020 calendar

# Set the path and create browser
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

Create new data by scraping the calendar website

In [3]:
base_url = "https://www.timeanddate.com/holidays/us/"

In [4]:
calendar = []

Scrape the calendar website and format the scraped data

In [5]:
#Scrape the calendar for 2009 - 2020

for x in range (2009, 2021):
    url2 = (f'{base_url}{x}')
    tables = pd.read_html(url2)
    df = tables[0]
    df.columns = df.columns.droplevel(1)
    df["Year"] = x
    df = df.rename(columns = {"Unnamed: 1_level_0":"Day_of_Week"})
    df = df[:-1]
    calendar.append(df)

calendar

[       Date Day_of_Week                            Name                  Type  \
 0     Jan 1    Thursday                  New Year's Day       Federal Holiday
 1     Jan 6     Tuesday                        Epiphany             Christian
 2     Jan 7   Wednesday          Orthodox Christmas Day              Orthodox
 3     Jan 7   Wednesday  International Programmers' Day  Worldwide observance
 4    Jan 13     Tuesday     Stephen Foster Memorial Day            Observance
 ..      ...         ...                             ...                   ...
 349  Dec 24    Thursday           Washington's Birthday         State holiday
 350  Dec 25      Friday                   Christmas Day       Federal Holiday
 351  Dec 26    Saturday             Kwanzaa (first day)            Observance
 352  Dec 26    Saturday         Day After Christmas Day         State holiday
 353  Dec 31    Thursday                  New Year's Eve            Observance

      Details  Year
 0        NaN  2009
 1        NaN  2009
 2        NaN  2009
 3        NaN  2009
 4        NaN  2009
 ..       ...   ...
 349  Indiana  2009
 350      NaN  2009
 351      NaN  2009
 352    Texas  2009
 353      NaN  2009

 [354 rows x 6 columns],
        Date Day_of_Week                            Name                  Type  \
 0     Jan 1      Friday                  New Year's Day       Federal Holiday
 1     Jan 6   Wednesday                        Epiphany             Christian
 2     Jan 7    Thursday          Orthodox Christmas Day              Orthodox
 3     Jan 7    Thursday  International Programmers' Day  Worldwide observance
 4    Jan 13   Wednesday     Stephen Foster Memorial Day            Observance
 ..      ...         ...                             ...                   ...
 360  Dec 25    Saturday                   Christmas Day       Federal Holiday
 361  Dec 26      Sunday             Kwanzaa (first day)            Observance
 362  Dec 26      Sunday         Day After Christmas Day         State holiday
 363  Dec 31      Friday         New Year's Day observed       Federal Holiday
 364  Dec 31      Friday                  New Year's Eve            Observance

     Details  Year
 0       NaN  2010
 1       NaN  2010
 2       NaN  2010
 3       NaN  2010
 4       NaN  2010
 ..      ...   ...
 360     NaN  2010
 361     NaN  2010
 362   Texas  2010
 363     NaN  2010
 364     NaN  2010

 [365 rows x 6 columns],
        Date Day_of_Week                            Name                  Type  \
 0     Jan 1    Saturday                  New Year's Day       Federal Holiday
 1     Jan 6    Thursday                        Epiphany             Christian
 2     Jan 7      Friday          Orthodox Christmas Day              Orthodox
 3     Jan 7      Friday  International Programmers' Day  Worldwide observance
 4    Jan 13    Thursday     Stephen Foster Memorial Day            Observance
 ..      ...         ...                             ...                   ...
 375  Dec 26      Monday             Kwanzaa (first day)            Observance
 376  Dec 26      Monday          Christmas Day observed       Federal Holiday
 377  Dec 26      Monday         Day After Christmas Day         State holiday
 378  Dec 28   Wednesday            Last Day of Chanukah        Jewish holiday
 379  Dec 31    Saturday                  New Year's Eve            Observance

     Details  Year
 0       NaN  2011
 1       NaN  2011
 2       NaN  2011
 3       NaN  2011
 4       NaN  2011
 ..      ...   ...
 375     NaN  2011
 376     NaN  2011
 377   Texas  2011
 378     NaN  2011
 379     NaN  2011

 [380 rows x 6 columns],
        Date Day_of_Week                            Name                  Type  \
 0     Jan 1      Sunday                  New Year's Day       Federal Holiday
 1     Jan 2      Monday         New Year's Day observed       Federal Holiday
 2     Jan 6      Friday                        Epiphany             Christian
 3     Jan 7    Saturday          Orthodox Christmas Day              Orthodox
 4     Jan 7    Saturday  International Programmers' Day  Worldwide observance
 ..      ...         ...                             ...                   ...
 386  Dec 25     Tuesday                   Christmas Day       Federal Holiday
 387  Dec 26   Wednesday             Kwanzaa (first day)            Observance
 388  Dec 26   Wednesday         Day After Christmas Day         State holiday
 389  Dec 31      Monday                  New Year's Eve         State holiday
 390  Dec 31      Monday                  New Year's Eve            Observance

        Details  Year
 0          NaN  2012
 1          NaN  2012
 2          NaN  2012
 3          NaN  2012
 4          NaN  2012
 ..         ...   ...
 386        NaN  2012
 387        NaN  2012
 388      Texas  2012
 389  Wisconsin  2012
 390        NaN  2012

 [391 rows x 6 columns],
        Date Day_of_Week                            Name                  Type  \
 0     Jan 1     Tuesday                  New Year's Day       Federal Holiday
 1     Jan 4      Friday               World Braille Day  Worldwide observance
 2     Jan 6      Sunday                        Epiphany             Christian
 3     Jan 7      Monday          Orthodox Christmas Day              Orthodox
 4     Jan 7      Monday  International Programmers' Day  Worldwide observance
 ..      ...         ...                             ...                   ...
 392  Dec 25   Wednesday                   Christmas Day       Federal Holiday
 393  Dec 26    Thursday             Kwanzaa (first day)            Observance
 394  Dec 26    Thursday         Day After Christmas Day         State holiday
 395  Dec 31     Tuesday                  New Year's Eve         State holiday
 396  Dec 31     Tuesday                  New Year's Eve            Observance

             Details  Year
 0               NaN  2013
 1               NaN  2013
 2               NaN  2013
 3               NaN  2013
 4               NaN  2013
 ..              ...   ...
 392             NaN  2013
 393             NaN  2013
 394  KS, NC, SC, TX  2013
 395      KY, MI, WI  2013
 396             NaN  2013

 [397 rows x 6 columns],
        Date Day_of_Week                            Name                  Type  \
 0     Jan 1   Wednesday                  New Year's Day       Federal Holiday
 1     Jan 4    Saturday               World Braille Day  Worldwide observance
 2     Jan 6      Monday                        Epiphany             Christian
 3     Jan 7     Tuesday          Orthodox Christmas Day              Orthodox
 4     Jan 7     Tuesday  International Programmers' Day  Worldwide observance
 ..      ...         ...                             ...                   ...
 407  Dec 26      Friday             Kwanzaa (first day)            Observance
 408  Dec 26      Friday         Day After Christmas Day         State holiday
 409  Dec 26      Friday           Washington's Birthday         State holiday
 410  Dec 31   Wednesday                  New Year's Eve            Observance
 411  Dec 31   Wednesday                  New Year's Eve         State holiday

                     Details  Year
 0                       NaN  2014
 1                       NaN  2014
 2                       NaN  2014
 3                       NaN  2014
 4                       NaN  2014
 ..                      ...   ...
 407                     NaN  2014
 408  KS, KY, NC, SC, TX, VA  2014
 409        Georgia, Indiana  2014
 410                     NaN  2014
 411              LA, MI, WI  2014

 [412 rows x 6 columns],
        Date Day_of_Week                     Name                  Type  \
 0     Jan 1    Thursday           New Year's Day       Federal Holiday
 1     Jan 3    Saturday   The Prophet's Birthday                Muslim
 2     Jan 4      Sunday        World Braille Day  Worldwide observance
 3     Jan 6     Tuesday                 Epiphany             Christian
 4     Jan 7   Wednesday   Orthodox Christmas Day              Orthodox
 ..      ...         ...                      ...                   ...
 416  Dec 26    Saturday      Kwanzaa (first day)            Observance
 417  Dec 26    Saturday  Day After Christmas Day         State holiday
 418  Dec 26    Saturday  Day After Christmas Day            Observance
 419  Dec 31    Thursday           New Year's Eve         State holiday
 420  Dec 31    Thursday           New Year's Eve            Observance

                 Details  Year
 0                   NaN  2015
 1                   NaN  2015
 2                   NaN  2015
 3                   NaN  2015
 4                   NaN  2015
 ..                  ...   ...
 416                 NaN  2015
 417  KS, KY, NC, SC, TX  2015
 418                 NaN  2015
 419          LA, MI, WI  2015
 420                 NaN  2015

 [421 rows x 6 columns],
        Date Day_of_Week                            Name                  Type  \
 0     Jan 1      Friday                  New Year's Day       Federal Holiday
 1     Jan 4      Monday               World Braille Day  Worldwide observance
 2     Jan 6   Wednesday                        Epiphany             Christian
 3     Jan 7    Thursday          Orthodox Christmas Day              Orthodox
 4     Jan 7    Thursday  International Programmers' Day  Worldwide observance
 ..      ...         ...                             ...                   ...
 421  Dec 26      Monday         Day After Christmas Day         State holiday
 422  Dec 27     Tuesday           Washington's Birthday         State holiday
 423  Dec 30      Friday         New Year's Eve observed         State holiday
 424  Dec 31    Saturday                  New Year's Eve            Observance
 425  Dec 31    Saturday                  New Year's Eve         State holiday

             Details  Year
 0               NaN  2016
 1               NaN  2016
 2               NaN  2016
 3               NaN  2016
 4               NaN  2016
 ..              ...   ...
 421  KS, NC, SC, TX  2016
 422         Georgia  2016
 423      LA, MI, WI  2016
 424             NaN  2016
 425      LA, MI, WI  2016

 [426 rows x 6 columns],
        Date Day_of_Week                     Name                  Type  \
 0     Jan 1      Sunday     Last Day of Chanukah        Jewish holiday
 1     Jan 1      Sunday           New Year's Day       Federal Holiday
 2     Jan 2      Monday  New Year's Day observed       Federal Holiday
 3     Jan 4   Wednesday        World Braille Day  Worldwide observance
 4     Jan 6      Friday                 Epiphany             Christian
 ..      ...         ...                      ...                   ...
 422  Dec 26     Tuesday      Kwanzaa (first day)            Observance
 423  Dec 26     Tuesday  Day After Christmas Day         State holiday
 424  Dec 26     Tuesday    Washington's Birthday         State holiday
 425  Dec 31      Sunday           New Year's Eve            Observance
 426  Dec 31      Sunday           New Year's Eve         State holiday

               Details  Year
 0                 NaN  2017
 1                 NaN  2017
 2                 NaN  2017
 3                 NaN  2017
 4                 NaN  2017
 ..                ...   ...
 422               NaN  2017
 423    KS, NC, SC, TX  2017
 424  Georgia, Indiana  2017
 425               NaN  2017
 426        LA, MI, WI  2017

 [427 rows x 6 columns],
        Date Day_of_Week                     Name                  Type  \
 0     Jan 1      Monday           New Year's Day       Federal Holiday
 1     Jan 1      Monday  New Year's Eve observed         State holiday
 2     Jan 4    Thursday        World Braille Day  Worldwide observance
 3     Jan 6    Saturday                 Epiphany             Christian
 4     Jan 7      Sunday   Orthodox Christmas Day              Orthodox
 ..      ...         ...                      ...                   ...
 416  Dec 25     Tuesday            Christmas Day       Federal Holiday
 417  Dec 26   Wednesday      Kwanzaa (first day)            Observance
 418  Dec 26   Wednesday  Day After Christmas Day         State holiday
 419  Dec 31      Monday           New Year's Eve         State holiday
 420  Dec 31      Monday           New Year's Eve            Observance

             Details  Year
 0               NaN  2018
 1        LA, MI, WI  2018
 2               NaN  2018
 3               NaN  2018
 4               NaN  2018
 ..              ...   ...
 416             NaN  2018
 417             NaN  2018
 418  KS, NC, SC, TX  2018
 419      LA, MI, WI  2018
 420             NaN  2018

 [421 rows x 6 columns],
        Date Day_of_Week                            Name                  Type  \
 0     Jan 1     Tuesday                  New Year's Day       Federal Holiday
 1     Jan 4      Friday               World Braille Day  Worldwide observance
 2     Jan 6      Sunday                        Epiphany             Christian
 3     Jan 7      Monday          Orthodox Christmas Day              Orthodox
 4     Jan 7      Monday  International Programmers' Day  Worldwide observance
 ..      ...         ...                             ...                   ...
 414  Dec 26    Thursday             Kwanzaa (first day)            Observance
 415  Dec 26    Thursday         Day After Christmas Day         State holiday
 416  Dec 30      Monday            Last Day of Chanukah        Jewish holiday
 417  Dec 31     Tuesday                  New Year's Eve            Observance
 418  Dec 31     Tuesday                  New Year's Eve         State holiday

             Details  Year
 0               NaN  2019
 1               NaN  2019
 2               NaN  2019
 3               NaN  2019
 4               NaN  2019
 ..              ...   ...
 414             NaN  2019
 415  KS, NC, SC, TX  2019
 416             NaN  2019
 417             NaN  2019
 418      LA, MI, WI  2019

 [419 rows x 6 columns],
        Date Day_of_Week                            Name                  Type  \
 0     Jan 1   Wednesday                  New Year's Day       Federal Holiday
 1     Jan 4    Saturday               World Braille Day  Worldwide observance
 2     Jan 6      Monday                        Epiphany             Christian
 3     Jan 7     Tuesday          Orthodox Christmas Day              Orthodox
 4     Jan 7     Tuesday  International Programmers' Day  Worldwide observance
 ..      ...         ...                             ...                   ...
 486  Dec 25      Friday                   Christmas Day       Federal Holiday
 487  Dec 26    Saturday             Kwanzaa (first day)            Observance
 488  Dec 26    Saturday         Day After Christmas Day         State holiday
 489  Dec 31    Thursday                  New Year's Eve         State holiday
 490  Dec 31    Thursday                  New Year's Eve            Observance

             Details  Year
 0               NaN  2020
 1               NaN  2020
 2               NaN  2020
 3               NaN  2020
 4               NaN  2020
 ..              ...   ...
 486             NaN  2020
 487             NaN  2020
 488  KS, NC, SC, TX  2020
 489      LA, MI, WI  2020
 490             NaN  2020

 [491 rows x 6 columns]]

In [14]:
# Convert the scrapped data to a dataframe

cb = pd.concat(calendar)
cb

,Date,Day_of_Week,Name,Type,Details,Year
0,Jan 1,Thursday,New Year's Day,Federal Holiday,NaN,2009
1,Jan 6,Tuesday,Epiphany,Christian,NaN,2009
2,Jan 7,Wednesday,Orthodox Christmas Day,Orthodox,NaN,2009
3,Jan 7,Wednesday,International Programmers' Day,Worldwide observance,NaN,2009
4,Jan 13,Tuesday,Stephen Foster Memorial Day,Observance,NaN,2009
...,...,...,...,...,...,...
486,Dec 25,Friday,Christmas Day,Federal Holiday,NaN,2020
487,Dec 26,Saturday,Kwanzaa (first day),Observance,NaN,2020
488,Dec 26,Saturday,Day After Christmas Day,State holiday,"KS, NC, SC, TX",2020
489,Dec 31,Thursday,New Year's Eve,State holiday,"LA, MI, WI",2020
490,Dec 31,Thursday,New Year's Eve,Observance,NaN,2020

In [7]:
# Updated column heading

cb2 = cb["Date"].str.split(" ", n = 1, expand = True)
cb["Month"] = cb2[0]
cb["Day"] = cb2[1]
cb

,Date,Day_of_Week,Name,Type,Details,Year,Month,Day
0,Jan 1,Thursday,New Year's Day,Federal Holiday,NaN,2009,Jan,1
1,Jan 6,Tuesday,Epiphany,Christian,NaN,2009,Jan,6
2,Jan 7,Wednesday,Orthodox Christmas Day,Orthodox,NaN,2009,Jan,7
3,Jan 7,Wednesday,International Programmers' Day,Worldwide observance,NaN,2009,Jan,7
4,Jan 13,Tuesday,Stephen Foster Memorial Day,Observance,NaN,2009,Jan,13
...,...,...,...,...,...,...,...,...
486,Dec 25,Friday,Christmas Day,Federal Holiday,NaN,2020,Dec,25
487,Dec 26,Saturday,Kwanzaa (first day),Observance,NaN,2020,Dec,26
488,Dec 26,Saturday,Day After Christmas Day,State holiday,"KS, NC, SC, TX",2020,Dec,26
489,Dec 31,Thursday,New Year's Eve,State holiday,"LA, MI, WI",2020,Dec,31
490,Dec 31,Thursday,New Year's Eve,Observance,NaN,2020,Dec,31

In [8]:
# Replace the month name with numbers

cb2 = cb.replace({"Jan":"01", "Feb":"02","Mar":"03","Apr":"04","May":"05","Jun":"06","Jul":"07","Aug":"08","Sep":"09","Oct":"10","Nov":"11","Dec":"12"})
cb2

,Date,Day_of_Week,Name,Type,Details,Year,Month,Day
0,Jan 1,Thursday,New Year's Day,Federal Holiday,NaN,2009,01,1
1,Jan 6,Tuesday,Epiphany,Christian,NaN,2009,01,6
2,Jan 7,Wednesday,Orthodox Christmas Day,Orthodox,NaN,2009,01,7
3,Jan 7,Wednesday,International Programmers' Day,Worldwide observance,NaN,2009,01,7
4,Jan 13,Tuesday,Stephen Foster Memorial Day,Observance,NaN,2009,01,13
...,...,...,...,...,...,...,...,...
486,Dec 25,Friday,Christmas Day,Federal Holiday,NaN,2020,12,25
487,Dec 26,Saturday,Kwanzaa (first day),Observance,NaN,2020,12,26
488,Dec 26,Saturday,Day After Christmas Day,State holiday,"KS, NC, SC, TX",2020,12,26
489,Dec 31,Thursday,New Year's Eve,State holiday,"LA, MI, WI",2020,12,31
490,Dec 31,Thursday,New Year's Eve,Observance,NaN,2020,12,31

In [9]:
#Drop the "Date" column

cb3 = cb2.drop(columns = ["Date"])
cb3

,Day_of_Week,Name,Type,Details,Year,Month,Day
0,Thursday,New Year's Day,Federal Holiday,NaN,2009,01,1
1,Tuesday,Epiphany,Christian,NaN,2009,01,6
2,Wednesday,Orthodox Christmas Day,Orthodox,NaN,2009,01,7
3,Wednesday,International Programmers' Day,Worldwide observance,NaN,2009,01,7
4,Tuesday,Stephen Foster Memorial Day,Observance,NaN,2009,01,13
...,...,...,...,...,...,...,...
486,Friday,Christmas Day,Federal Holiday,NaN,2020,12,25
487,Saturday,Kwanzaa (first day),Observance,NaN,2020,12,26
488,Saturday,Day After Christmas Day,State holiday,"KS, NC, SC, TX",2020,12,26
489,Thursday,New Year's Eve,State holiday,"LA, MI, WI",2020,12,31
490,Thursday,New Year's Eve,Observance,NaN,2020,12,31

In [10]:
# Merge Year, Month, and Day column and convert to datetime format
cb3["Date"] = pd.to_datetime(cb3[["Year","Month","Day"]])
cb3

,Day_of_Week,Name,Type,Details,Year,Month,Day,Date
0,Thursday,New Year's Day,Federal Holiday,NaN,2009,01,1,2009-01-01
1,Tuesday,Epiphany,Christian,NaN,2009,01,6,2009-01-06
2,Wednesday,Orthodox Christmas Day,Orthodox,NaN,2009,01,7,2009-01-07
3,Wednesday,International Programmers' Day,Worldwide observance,NaN,2009,01,7,2009-01-07
4,Tuesday,Stephen Foster Memorial Day,Observance,NaN,2009,01,13,2009-01-13
...,...,...,...,...,...,...,...,...
486,Friday,Christmas Day,Federal Holiday,NaN,2020,12,25,2020-12-25
487,Saturday,Kwanzaa (first day),Observance,NaN,2020,12,26,2020-12-26
488,Saturday,Day After Christmas Day,State holiday,"KS, NC, SC, TX",2020,12,26,2020-12-26
489,Thursday,New Year's Eve,State holiday,"LA, MI, WI",2020,12,31,2020-12-31
490,Thursday,New Year's Eve,Observance,NaN,2020,12,31,2020-12-31

Read in Trump Tweets CSV and Convert to DataFrame

In [11]:
# Import CSV file
csv_file = "resources/realdonaldtrump.csv"
realdonaldtrump_df = pd.read_csv(csv_file)

In [12]:
# Split date column into Day, Month, Year and Time
realdonaldtrump_df[['Date','Time']] = realdonaldtrump_df.date.str.split(" ",expand=True,)
realdonaldtrump_df[['Year','Month', 'Day']] = realdonaldtrump_df.Date.str.split("-",expand=True,)
realdonaldtrump_df.head()

,id,link,content,date,retweets,favorites,mentions,hashtags,Date,Time,Year,Month,Day
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 13:54:25,510,917,NaN,NaN,2009-05-04,13:54:25,2009,05,04
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-04 20:00:10,34,267,NaN,NaN,2009-05-04,20:00:10,2009,05,04
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 08:38:08,13,19,NaN,NaN,2009-05-08,08:38:08,2009,05,08
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 15:40:15,11,26,NaN,NaN,2009-05-08,15:40:15,2009,05,08
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 09:07:28,1375,1945,NaN,NaN,2009-05-12,09:07:28,2009,05,12

In [13]:
# Creating new trump tweets data frame
trump_tweets_df = realdonaldtrump_df[['id', 'link', 'content', 'retweets', 'favorites', 'mentions', 'hashtags', 'Date', 'Time', 'Year', 'Month', 'Day']]
trump_tweets_df.head()

,id,link,content,retweets,favorites,mentions,hashtags,Date,Time,Year,Month,Day
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,510,917,NaN,NaN,2009-05-04,13:54:25,2009,05,04
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,34,267,NaN,NaN,2009-05-04,20:00:10,2009,05,04
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,13,19,NaN,NaN,2009-05-08,08:38:08,2009,05,08
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,11,26,NaN,NaN,2009-05-08,15:40:15,2009,05,08
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",1375,1945,NaN,NaN,2009-05-12,09:07:28,2009,05,12

Connect to local database

In [ ]:
rds_connection_string = "postgres:2431@localhost:5432/tweets_db"
engine = create_engine(f'postgresql://{rds_connection_string}')